/MinioningServer/branding/target/
/MinioningServer/application/target/
/MinioningServer/Common/target/
/MinioningServer/Core/target/
/MinioningServer/Unit/target/
/MinioningServer/ClientConnection/target/
/MinioningServer/Movement/target/
/MinioningServer/ServerCore/target/
/MinioningServer/ServerCommon/target/
/MinioningServer/Collision/target/
/MinioningServer/TiledLoader/target/
/MinioningServer/Health/target/
/MinioningServer/SilentUpdate/target/
/MinioningServer/minioning_SilentUpdate_nbm_1.0.0/target/
/MinioningServer/target/
/MinioningServer/ServerUnit/target/
/MinioningServer/ServerMovement/target/
/MinioningServer/ServerHealth/target/
/MinioningServer/ServerCollision/target/
/MinioningServer/ServerConnection/target/