/MinioningServer/branding/target/
/MinioningServer/application/target/
/MinioningServer/Common/target/
/MinioningServer/Core/target/
/MinioningServer/Unit/target/
/MinioningServer/ClientConnection/target/
/MinioningServer/Movement/target/
/MinioningServer/ServerCore/target/
/MinioningServer/ServerCommon/target/
/MinioningServer/Collision/target/